<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Youth Training Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Youth Training intranet</h2>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>Correo Electrónico</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                 placeholder="Your email address"
                 [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Por favor inserte un correo electrónico válido</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
                 placeholder="Your password"
                 [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>La contraseña debe tener al menos 6 caracteres.</p>
    </ion-item>
    <button ion-button block type="submit">
      ENTRAR
    </button>
  </form>

  <button ion-button block clear (click)="register()">
    ¿Aún no tienes una cuenta? ¡Regístrate ahora!
  </button>
  <button ion-button block clear (click)="resetPwd()">
    He olvidado mi contraseña
  </button>
</ion-content>
